:root {
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-size-size-xxlarge: 288px;
    --dl-color-grays-dark80: #212121cc;
    --dl-color-grays-gray40: #63667066;
    --dl-color-grays-gray60: #63667099;
    --dl-size-size-maxwidth: 1158px;
    --dl-color-grays-dark100: #212121ff;
    --dl-color-grays-gray100: #636670ff;
    --dl-color-grays-white60: #ffffff99;
    --dl-color-grays-white80: #ffffffcc;
    --dl-color-theme-accent1: #F3E8E2;
    --dl-color-theme-accent2: rgb(232, 236, 239);
    --dl-radius-radius-round: 50%;
    --dl-color-grays-black100: #000000;
    --dl-color-grays-white100: #FFFFFF;
    --dl-color-theme-primary1: #7d30faff;
    --dl-color-theme-primary2: #4f30faff;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-color-backgrounds-gray: #f7f4f2ff;
    --dl-color-theme-secondary1: #F3E8E2;
    --dl-color-theme-secondary2: #ac69f8ff;
    --dl-space-space-threeunits: 48px;
    --dl-color-backgrounds-green: #2b584dff;
    --dl-color-backgrounds-purple: #623373ff;
    --dl-color-theme-neutral-dark: #191818;
    --dl-radius-radius-cardradius: 8px;
    --dl-color-backgrounds-primary: #7d30faff;
    --dl-color-theme-neutral-light: #FBFAF9;
    --dl-radius-radius-imageradius: 8px;
    --dl-radius-radius-inputradius: 24px;
    --dl-color-backgrounds-darkblue: #364570ff;
    --dl-radius-radius-buttonradius: 24px;
    --dl-space-space-oneandhalfunits: 24px;
    --dl-color-backgrounds-lightgreen: #9cbec6ff;
  }
  .button {
    color: var(--dl-color-grays-black100);
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding-top: var(--dl-space-space-unit);
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 32px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-grays-white100);
  }
  .input {
    color: var(--dl-color-grays-black100);
    cursor: auto;
    outline: none;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-grays-black100);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-grays-white100);
  }
  .textarea {
    color: var(--dl-color-grays-black100);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-grays-black100);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-grays-white100);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    transform: translateX(0%) !important;
  }
  .navbar-link {
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
  }
  .navbar-link:hover {
    color: var(--dl-color-backgrounds-primary);
  }
  .button-primary {
    color: var(--dl-color-grays-white100);
    transition: 0.3s;
    font-weight: 500;
    background-color: var(--dl-color-backgrounds-primary);
  }
  .button-primary:hover {
    color: var(--dl-color-backgrounds-primary);
    border-color: var(--dl-color-backgrounds-primary);
    background-color: var(--dl-color-grays-white100);
  }
  .navigation-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 32px;
    z-index: 101;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-backgrounds-gray);
  }
  .navigation-burger-menu {
    display: none;
  }
  .navigation-container {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .max-content-container {
    width: 100%;
    display: flex;
    position: relative;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .section-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .slide-active {
    display: flex !important;
  }
  .slide {
    flex: 1;
    width: 100%;
    display: flex;
    min-width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .footer-link {
    color: var(--dl-color-grays-gray100);
    cursor: pointer;
    font-style: normal;
    transition: 0.3s;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .footer-link:hover {
    color: var(--dl-color-backgrounds-primary);
  }
  .thq-input {
    color: var(--dl-color-theme-neutral-dark);
    cursor: auto;
    padding: 0.5rem 1rem;
    align-self: stretch;
    text-align: center;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-inputradius);
    background-color: var(--dl-color-theme-neutral-light);
  }
  .thq-button-filled {
    color: var(--dl-color-theme-secondary1);
    cursor: pointer;
    transition: 0.3s;
    font-family: Noto Sans;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    white-space: nowrap;
    border-color: var(--dl-color-theme-primary1);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-theme-primary1);
  }
  .thq-button-filled:hover {
    color: var(--dl-color-theme-secondary2);
    border-color: var(--dl-color-theme-primary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-button-outline {
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    border: 1px solid;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    white-space: nowrap;
    border-color: var(--dl-color-theme-primary1);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .thq-button-outline:hover {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-button-flat {
    gap: var(--dl-space-space-halfunit);
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    align-items: center;
    font-family: Noto Sans;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .thq-button-flat:hover {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    border-color: var(--dl-color-theme-primary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-heading-1 {
    font-size: 48px;
    font-family: STIX Two Text;
    font-weight: 700;
    line-height: 1.5;
  }
  .thq-heading-2 {
    font-size: 35px;
    font-family: STIX Two Text;
    font-weight: 600;
    line-height: 1.5;
  }
  .thq-heading-3 {
    font-size: 26px;
    font-family: STIX Two Text;
    font-weight: 600;
    line-height: 1.5;
  }
  .thq-body-large {
    font-size: 18px;
    line-height: 1.5;
  }
  .thq-body-small {
    font-size: 16px;
    line-height: 1.5;
  }
  .thq-team-image-round {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .thq-section-padding {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .thq-section-max-width {
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
  }
  .thq-img-ratio-1-1 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-16-9 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-4-3 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-4-6 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/6;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-round {
    width: 100%;
    border-radius: var(--dl-radius-radius-round);
  }
  .thq-flex-column {
    gap: var(--dl-space-space-twounits);
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .thq-flex-row {
    gap: var(--dl-space-space-twounits);
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
  }
  .thq-grid-6 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .thq-grid-5 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .thq-card {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    padding: var(--dl-space-space-twounits);
    align-items: stretch;
    border-radius: var(--dl-radius-radius-cardradius);
    flex-direction: column;
  }
  .thq-box-shadow {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .thq-grid-3 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-grid-4 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .thq-grid-2 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .thq-checkbox {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .thq-select {
    cursor: pointer;
    appearance: none;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-inputradius);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-theme-neutral-light);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  .thq-divider-horizontal {
    width: 100%;
    height: 1px;
    background-color: var(--dl-color-theme-neutral-dark);
  }
  .thq-icon-small {
    width: 24px;
    height: 24px;
  }
  .thq-button-icon {
    fill: var(--dl-color-theme-secondary1);
    padding: var(--dl-space-space-halfunit);
    transition: 0.3s;
    font-family: Noto Sans;
    border-radius: var(--dl-radius-radius-buttonradius);
  }
  .thq-button-icon:hover {
    fill: var(--dl-color-theme-secondary2);
  }
  .thq-icon-medium {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .thq-icon-x-small {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .thq-link {
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
  }
  .thq-link:hover {
    opacity: 0.8;
  }
  .thq-input::placeholder {
    text-align: center;
    vertical-align: middle;
  }
  .Content-Light {
    font-size: 16px;
    font-style: normal;
    font-family: Lexend;
    font-weight: 300;
    line-height: 1.75;
    text-transform: none;
    text-decoration: none;
  }
  .Content {
    font-size: 16px;
    font-family: Lexend;
    font-weight: 400;
    line-height: 1.1;
    text-transform: none;
    text-decoration: none;
  }
  .Heading4 {
    font-size: 20px;
    font-style: normal;
    font-family: Lexend;
    font-weight: 500;
    line-height: 1.2;
    text-transform: none;
    text-decoration: none;
  }
  .Heading2 {
    font-size: 42px;
    font-style: normal;
    font-family: Lexend;
    font-weight: 600;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
  }
  .Heading1 {
    font-size: 52px;
    font-style: normal;
    font-family: Lexend;
    font-weight: 600;
    line-height: 1.2;
    text-transform: none;
    text-decoration: none;
  }
  @media(max-width: 991px) {
    .thq-flex-row {
      flex-direction: column;
    }
    .thq-grid-4 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media(max-width: 767px) {
    .navbar-link {
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-mobile-menu {
      padding: var(--dl-space-space-unit);
    }
    .navigation-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navigation-container {
      padding: var(--dl-space-space-unit);
    }
    .section-container {
      padding-top: var(--dl-space-space-twounits);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .thq-section-padding {
      padding: var(--dl-space-space-threeunits);
    }
    .thq-flex-column {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .thq-flex-row {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .thq-grid-6 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr 1fr;
    }
    .thq-grid-5 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr 1fr;
    }
    .thq-card {
      padding: var(--dl-space-space-oneandhalfunits);
    }
    .thq-grid-3 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-4 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      flex-direction: row;
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-2 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr;
    }
  }
  @media(max-width: 479px) {
    .thq-section-padding {
      padding: var(--dl-space-space-oneandhalfunits);
    }
    .thq-flex-column {
      gap: var(--dl-space-space-unit);
    }
    .thq-flex-row {
      gap: var(--dl-space-space-unit);
    }
    .thq-grid-6 {
      grid-gap: var(--dl-space-space-unit);
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-5 {
      grid-gap: var(--dl-space-space-unit);
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-3 {
      grid-gap: var(--dl-space-space-unit);
      align-items: center;
      grid-template-columns: 1fr;
    }
    .thq-grid-4 {
      grid-gap: var(--dl-space-space-unit);
      align-items: center;
      flex-direction: column;
      grid-template-columns: 1fr;
    }
    .thq-grid-2 {
      grid-gap: var(--dl-space-space-unit);
    }
  }