* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.admin-main{
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2 {
  color:black;
}
h3 {
  color: black;
}
.btn {
  background: #7D30FA;
  color: white;
  padding: 5px 10px;
  text-align: center;
}
.btn:hover {
  color: #7D30FA;
  background: white;
  padding: 3px 8px;
  border: 2px solid #7D30FA;
}
.admin-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}
table {
  padding: 10px;
}
th,
td {
  text-align: left;
  padding: 8px;
}
.admin-side-menu {
  position: fixed;
  background: #7D30FA;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.admin-side-menu .brand-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-side-menu li {
  font-size: 24px;
  padding: 10px 40px;
  color: black;
  display: flex;
  align-items: center;
}
.admin-side-menu li:hover {
  background:white;
  color: #7D30FA;
}
.admin-container {
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: #f1f1f1;
}
.admin-center {
  position: relative;
  padding: 10px 10px;
  background: #fff;
  border-radius: 10px;
  width: 60vh;
  margin: 10px 50px;
  
}

.admin-center h3 {
  font-size: 2em;
  border-left: 5px solid #7D30FA;
  padding: 5px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  padding-left: 10px;
}

.admin-center .admin-inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
}
.admin-center .admin-inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.admin-center .admin-inputbox:last-child {
  margin-bottom: 0;
}
.admin-center .admin-inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.admin-center .admin-inputbox input:focus ~ span,
.admin-center .admin-inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

.ordertableContainer{
  height: 240px;
  width: 60vh;
  overflow-y: auto; 
  table-layout: fixed; 
  margin: auto 50px;
  border-collapse: collapse;
}

.ordertableContainer thead th{
  position: sticky;
  top: 0;
}

th{
  background-color: #7D30FA;
  color: #f3f3f3;
}


.ordercontent-3{
  position: absolute;
  top:45px;
  right: 30px
}

.admin-bttn {
  background: #7D30FA;
  color: rgba(255, 255, 255, 0.95);
  padding: 5px 10px;
  text-align: center;
}
.admin-bttn:hover {
  transform: scale(1.125);
  border-color: #7D30FA;
  background: rgba(255, 255, 255, 0.95) ;
  color: #7D30FA;

}
