.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-navlink {
  fill: var(--dl-color-grays-black100);
  color: var(--dl-color-grays-black100);
  text-decoration: none;
}
.navigation-links1-navlink1 {
  fill: var(--dl-color-grays-black100);
  color: var(--dl-color-grays-black100);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink2 {
  fill: var(--dl-color-grays-black100);
  color: var(--dl-color-grays-black100);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-text {
  fill: var(--dl-color-grays-black100);
  color: var(--dl-color-grays-black100);
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links1-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}

.navigation-links1-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius2);
}

.navigation-links1-dropdown-toggle {
  fill: var(--dl-color-grays-black100);
  color: var(--dl-color-grays-black100);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links1-dropdown-toggle:hover {
  fill: var(--dl-color-grays-black100);
  color: var(--dl-color-grays-black100);
  background-color: var(--dl-color-backgrounds-primary);
}
.navigation-links1-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
}

.navigation-links1-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links1-dropdown1:hover {
  background-color: var(--dl-color-backgrounds-primary);
}
.navigation-links1-dropdown-toggle1 {
  fill: var(--dl-color-grays-black100);
  color: var(--dl-color-grays-black100);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links1-dropdown-toggle1:hover {
  fill: var(--dl-color-grays-black100);
  color: var(--dl-color-grays-black100);
  background-color: var(--dl-color-backgrounds-primary);
}
.navigation-links1-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
}


@media(max-width: 1200px) {
  .navigation-links1-text {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .navigation-links1-dropdown-list {
    display: none;
  }
  .navigation-links1-text1 {
    fill: var(--dl-color-grays-black100);
    color: var(--dl-color-grays-black100);
  }
  .navigation-links1-dropdown-toggle1 {
    fill: var(--dl-color-grays-black100);
    color: var(--dl-color-grays-black100);
  }
  .navigation-links1-text2 {
    fill: var(--dl-color-grays-black100);
    color: var(--dl-color-grays-black100);
  }
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links1-root-class-name {
    display: none;
  }
}
