.testimonial16-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial16-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.testimonial16-text01 {
  text-align: center;
}
.testimonial16-container02 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary2);
}
.testimonial16-container03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial16-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial16-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial16-text04 {
  text-align: left;
}
.testimonial16-container05 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.testimonial16-container06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial16-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial16-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial16-text07 {
  text-align: left;
}
.testimonial16-container08 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.testimonial16-container09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial16-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial16-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial16-text10 {
  text-align: left;
}
.testimonial16-container11 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary2);
}
.testimonial16-container12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial16-image3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial16-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial16-text13 {
  text-align: left;
}
@media(max-width: 1200px) {
  .testimonial16-container02 {
    background-color: var(--dl-color-theme-secondary2);
  }
  .testimonial16-container11 {
    background-color: var(--dl-color-theme-secondary2);
  }
}
@media(max-width: 991px) {
  .testimonial16-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .testimonial16-container {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial16-container02 {
    width: 100%;
  }
  .testimonial16-container05 {
    width: 100%;
  }
  .testimonial16-container08 {
    width: 100%;
  }
  .testimonial16-container11 {
    width: 100%;
  }
}
